<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="../../styles/reset.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/layout.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/modules.css" />
</head>
<body>
    <div>
        <ul>
            <% bookArray.forEach(book => { %>
                <div class="square">
                    <form action='/' method='post' id='book'>
                        <img src=<%= book.image %>>
                        <li><%= book.title %></li>
                        <li><%= book.authors %></li>
                        <li><%= book.description %></li>
                        <li><%= book.isbn %></li>
                        <input type="text" name="book" placeholder="Enter the title" value="<%= book.title %>">
                        <input type="text" name="book" placeholder="Enter the author" value="<%= book.authors %>">
                        <input type="text" name="book" placeholder="Enter isbn" value="<%= book.isbn %>">
                        <input type="text" name="book" placeholder="Enter image_url" value="<%= book.image %>">
                        <input type="text" name="book" placeholder="Enter a bookshelf" required>
                        <button type="submit">Insert into database</button>
                        <input type="text" size=100 name="book" placeholder="Enter the description" value="<%= book.description %>">
                        <!-- <textarea cols=10 name="description" form="book">Enter descripton here...</textarea> -->
                    </form>
                </div>
            <% }) %>
        </ul>
    </div>
</body>
</html>