<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="../../styles/reset.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/layout.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/modules.css" />
</head>
<body>
    <div>
        <ul>
            <% bookArray.forEach(book => { %>
                <img src=<%= book.image %>>
                <li><%= book.title %></li>
                <li><%= book.authors %></li>
                <li><%= book.description %></li>
                <li><%= book.isbn %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>