<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="../../styles/reset.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/layout.css" />
    <link rel="stylesheet" text="text/css" href="../../styles/modules.css" />
</head>
<body>
  <container>
    <div>
      <h1>Book count : <%= bookArray.length %></h1>
      <button onclick="location.href = 'searches/new';">Go to search</button>
        <ul>
            <% bookArray.forEach(book => { %>
              <div class="square">
                      <img src=<%= book.image_url %>>
                      <li>Title: <%= book.title %></li>
                      <li>Authors: <%= book.authors %></li>
                      <li>Description: <%= book.description %></li>
                      <li>ISBN: <%= book.isbn %></li>
                      <li>Bookshelf: <%= book.bookshelf %></li>
                      <a href="/books/<%= book.isbn %>">Detail View</a>
              </div>
          <% }) %> 
          </form>
        </ul>
    </div>
  </container>
</body>
</html>