<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
  <container>
    <div>
      <button onclick="location.href = 'review/new';">Add New Review</button>
      <h1>recruiter count : <%= recruiterArray.length %></h1>
        <ul>
            <% recruiterArray.forEach(recruiter => { %>
              <div class="square">
                      <li>Name: <%= recruiter.name %></li>
                      <li>Company: <%= recruiter.company %></li>
                      <li>Address: <%= recruiter.address %></li>
                      <li>Review: <%= recruiter.review %></li>
                      <a href="/recruiters/<%= recruiter.name %>">Detail View</a>
              </div>
          <% }) %> 
          </form>
        </ul>
    </div>
  </container>
</body>
</html>